
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Balance", "Balance", "Atm", new { })</li>

    <li>@Html.ActionLink("WithDrawal", "WithDrawal", "Atm", new { }) </li>
</ul>

<div class="tab-content">
    <h2>Balance</h2>
</div>



